

<section class="section-md bg-default">
    <div class="container post-strict">
        <div class="row row-70">
            <div class="col-sm-12 text-center" style="padding-bottom:60px;">
                <h3 class=" text_blue case_studies_pad"  >CASE STUDIES</h3>








{% set index = 0 %}
    {% set outputed_block = '' %}
    {% set current_block = '' %}

    {% for block in entry.mainMatrixBlocks %}


        {% set index = index+1 %}
        {% set current_block = block.type~1  %}
        {% if current_block != outputed_block and loop.index!=7%}
            {% set index = 1 %}
            </div>
            </div>
            </section>
        {% endif %}

        {% include 'matrix/_'~block.type %}
        {%  set outputed_block = block.type~1   %}

    {% endfor %}
</div>
</div>
</section>




<script src="/assets/js/core.min.js"></script>

<script>

    $('#cap').removeClass('active2');
    $('#case').addClass('active2');
</script>