
    {% set index = 0 %}
    {% set outputed_block = '' %}
    {% set current_block = '' %}

    {% for block in entry.mainMatrixBlocks %}

        {% set index = index+1 %}
        {% set current_block = block.type~1  %}
        {% if current_block != outputed_block and loop.index!=1%}

            {% set index = 1 %}
          </div>
          </div>
          </section>
        {% endif %}


        {% include 'matrix/_'~block.type %}
        {%  set outputed_block = block.type~1   %}
    {% endfor %}
  </div>
  </div>
  </section>

    {% if case_studies !=0 %}
    <section class="bg-default">
      <div class="row text-center">
        <div class="col-sm-12 case_header">
            <br>
          <h4 class="heading-decorated" style="margin-top: 40px;">CASE STUDIES</h4>
        </div>
      </div>

      <div class="container-fluid container-flex" style="padding-top:40px;">
        <div class="row no-gutters">



            {% for item in entry.children.limit(3) %}

          <div class="col-sm-6 col-lg-4 col-xl-4">
            <!-- Thumb creative-->
            <div class="thumb-creative">
              <div class="thumb-creative__inner">
                <div class="thumb-creative__front">
                  <figure class="thumb-creative__image-wrap"><img class="thumb-creative__image" src="{{ item.caseImage.first().url() }}" alt="" width="480" height="361"/>
                  </figure>
                  <div class="thumb-creative__content cont1">
                    <h6>{{ item.caseTitle }}</h6>
                    <h4>{{ item.caseFrontInformation }}</h4>

                  </div>
                </div>
                <div class="thumb-creative__back">
                  <figure class="thumb-creative__image-wrap"><img class="thumb-creative__image" src="{{ item.caseImage.first().url() }}" alt="" width="480" height="361"/>
                  </figure>

                  <div class="thumb-creative__content cont2">
                    <h6 class="thumb-creative__title"><a href="{{ item.parent.url }}">{{ item.caseBackTitle }}</a></h6>
                      {{ item.caseBackInformation }}<a class="button button-link" href="{{ item.url }}">View projects</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          {% endfor %}



        </div>
      </div>
    </section>
    {% endif %}
     {% if case_studies >1 %}
    <div class="container text-center">
        <br>
        <div class="row">
            <div class="col-sm-12">
                <a class="button button-primary blue" style="margin-bottom: 25px; color:white;" href="/case-studies">MORE CASE STUDIES</a>
            </div>
        </div>
        <br>
    </div>
{% endif %}
