{% extends "_layout" %}


{% block content %}

    {% set index = 0 %}
    {% set outputed_block = '' %}
    {% set current_block = '' %}

    {% for block in entry.mainMatrixBlocks %}
        {% if block.type!="slideshow" %}

            {% set index = index+1 %}
            {% set current_block = block.type~1  %}
            {% if current_block != outputed_block and loop.index!=1%}
                {% set index = 1 %}
              </div>
              </div>
              </section>
            {% endif %}

            {% include 'matrix/_'~block.type %}
            {%  set outputed_block = block.type~1   %}
        {% endif %}
    {% endfor %}
  </div>
  </div>
  </section>
<div class="grey new_padding2">
  <div class="row text-center grey" >
    <div class="col-sm-12 case_header">
      <h4 class="heading-decorated">THE COMPANY STRUCTURE</h4>
    </div>
  </div>

  <img  id="structure_id" class="structure_img" src="/assets/images/image_desktop.png?v=2" alt="">
</div>


  <!--management team-->
{% include "/partials/_team" %}



    <!--left and right image-->

    {% for block in entry.twoImages %}
      {% include "matrix/_"~ block.type %}
    {% endfor %}


    {#  <section class=" bg-default text-center no_padding_top normal_font new_padding">
     <div class="container ">
       <div class="row ">
    <div class="col-sm-12 case_header">

       <h4 class="heading-decorated">REFERENCE FROM PREVIOUS WORK</h4>

     </div>
         <div class="col-sm-12 "  style="padding-top:50px;">
           <h6 class="bold font_18">      LOCAL AUTHORITIES & PUBLIC WORKS</h6>
         </div>

        {% for block in entry.publicWorks %}
            {% include "matrix/_"~ block.type %}
        {% endfor %}


   <div class="col-sm-12" style="padding-top:100px;">
        <h6 class="bold">ENGINEERS</h6>
      </div>


        {% for block in entry.engineers %}
            {% include "matrix/_"~ block.type %}
        {% endfor %}
    </div>
  </div>
  </section>#}







{% endblock %}