

{% extends "_layout" %}


{% block content %}

    {% set form = craft.formBuilder2.getFormByHandle('contactForm') %}
    {% set formSettings = form.formSettings %}
    {% set spamProtectionSettings = form.spamProtectionSettings %}
    {% set tabs = form.fieldLayout.getFieldLayout().getTabs() %}
    {% set scripts = craft.formBuilder2.includeScripts(form) %}




  <style>
    .page{
      min-height: 20vh !important;

    }


    .custom_page
    {
      padding-top:160px;
      padding-bottom:50px;
    }

    #map {
      width: 100%;
      height: 400px;
      background-color: grey;
    }




  </style>





    <script type="text/javascript">
        var map1, map2;
        function drawMap() {

            var iconBase = '/assets/images/marker.png';
            var myLatLng = {lat: 50.6235528, lng: -3.5830002};
            var mapOptions = {
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: true,
                fullscreenControl: false,
                icon: iconBase
            };

            mapOptions.center = new google.maps.LatLng(50.6235528, -3.5830002); // London
            map1 = new google.maps.Map(document.getElementById("map"), mapOptions);

            mapOptions.center = new google.maps.LatLng(50.6235528, -3.5830002); // Amsterdam
            map2 = new google.maps.Map(document.getElementById("map2"), mapOptions);


            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map1,
                icon: iconBase
            });


         var marker1 = new google.maps.Marker({
                        position: myLatLng,
                        map: map2,
                        icon: iconBase
                    });





        }
    </script>

    <script async defer src="http://maps.google.com/maps/api/js?key=AIzaSyDStIxXbx02b994zIuVfUvSTuzSParXszk&callback=drawMap"></script>








  <div class="row text-center custom_page">
    <div class="col-sm-12">

      <h2 class="text_blue">CONTACT US</h2>
    </div>
  </div>




  <!-- RD Google Map-->
  <div id="map2"></div>








<section class="section-md bg-default contact_padding" >
  <div class="container">
    <div class="row row-50">
      <div class="col-md-5 col-lg-4">
        <h4 class="heading-decorated">Contact Details</h4>
        <ul class="list-sm contact-info normal_font">

                <li>{{ contact.address }}</li>
                <li> </li>
                <li>Telephone: {{ contact.tel }}</li>
                <li> </li>
                <li>Email: <a href="emailto:">{{ contact.email }}</a></li>
            </ul>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="heading-decorated">Get in Touch</h4>
        <!-- RD Mailform-->




        <form class=" rd-mailform_style-1" data-form-output="form-output-global" data-form-type="contact" method="post" name="{{ form.handle }}" class="formbuilder2 contact-form" id="{{ form.handle }}"{% if formSettings.hasFileUploads == '1' %} enctype="multipart/form-data"{% endif %}>
          <div class="notifications" style="color:#06529D;font-size:16px;font-weight:bold;">
            <h4 class="notification error-message">{{ craft.session.getFlash('error') | raw }}</h4>
            <h4 style="color:#06529D;" class="notification success-message pull-right">{{ craft.session.getFlash('success') | raw }}</h4>
              {% set errors = (errors is defined ? errors : null) %}
              {% if errors %}
                <ul class="errors">
                    {% for error in errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
          </div>
          <input type="hidden" name="action" value="formBuilder2/entry/submitEntry">

          <input type="hidden" name="formHandle" value="{{ form.handle }}">
            {% if spamProtectionSettings.spamTimeMethod == '1' %}<input type="hidden" name="spamTimeMethod" value="{{ 'now'|date('U') }}">{% endif %}
            {% if spamProtectionSettings.spamHoneypotMethod == '1' %}<div style="display:none;"><label for="email-addresss-new">{{ spamProtectionSettings.spamHoneypotMethodMessage }}</label><input name="email-address-new" value="" id="email-addresss-new"></div>{% endif %}
            {{ getCsrfInput() }}

            {% for tab in tabs %}
            {% set fields = tab.getFields() %}

          <div class="form-wrap form-wrap_icon linear-icon-man">
            <input class="form-input" id="contact-name" type="text" name="formName" data-constraints="@Required">
            <label class="form-label" for="contact-name">Your name</label>
          </div>
          <div class="form-wrap form-wrap_icon linear-icon-envelope">
            <input class="form-input" id="contact-email" type="email" name="formEmail" data-constraints="@Email @Required">
            <label class="form-label" for="contact-email">Your e-mail</label>
          </div>
          <div class="form-wrap form-wrap_icon linear-icon-feather">
            <textarea class="form-input" id="contact-message" name="formMessage" data-constraints="@Required"></textarea>
            <label class="form-label" for="contact-message">Your message</label>
          </div>
            {% endfor %}
            {% if form.extra['termsAndConditions'] is defined and form.extra['termsAndConditions'] %}
                {{ craft.formBuilder2.getTermsInputs(form) |raw }}
            {% endif %}
            <br>
            <input name="tickBox" id="tick" required onchange="tick_check();" type="checkbox"> I have read and agree with the <a target="_blank" href="/privacy-policy">privacy policy</a> <br>
          <button id="submit_btn" class="button button-primary " type="submit"  value="{% if formSettings.submitButtonText %}{{ formSettings.submitButtonText }}{% else %}Submit Message{% endif %}">send</button>
        </form>







      </div>
    </div>
  </div>
</section>

    <script>

        tick_check();

        function tick_check()
        {
            var element = document.getElementById('tick').checked;


            if(element==true) {

                 document.getElementById('submit_btn').style.backgroundColor  ="#0A4F9A";
                  document.getElementById('submit_btn').style.borderColor  ="#0A4F9A";
                document.getElementById('submit_btn').style.cursor  ="pointer";
                console.log('checked');
            }
else {


                document.getElementById('submit_btn').style.backgroundColor  ="dimgrey";
                document.getElementById('submit_btn').style.borderColor  ="dimgrey";
                 document.getElementById('submit_btn').style.cursor  ="no-drop";

                console.log('unchecked');
            }


        }

    </script>




{% if entry.id==383 %}





    {% endif %}
{% endblock %}