
{% extends "_layout" %}


{% block content %}

  <style>
    .page{
      min-height: 20vh !important;

    }


    .custom_page
    {
      padding-top:170px;

    }

    .border_custom{
      border-bottom:1px solid #06529D;
    }



    .card-custom .card-custom-title > a:before
    {

      color: #06529D;

    }

    .heavy_weight
        {
      font-weight:800;
        }
  </style>


  <div class="row text-center custom_page">
    <div class="col-sm-12">

      <h2 class="text_blue">DOWNLOADS</h2>
    </div>
  </div>





<section class="section-md bg-default" style="margin-bottom:100px;" >
  <div class="container">
    <!-- Accordion-->
    <div id="accordion" role="tablist">





{% for item in craft.entries.section('downloads').level(2) %}


      <!-- Bootstrap card-->
      <div class="card card-custom border_custom" style="margin-bottom:30px;" >
        <div class="card-custom-heading" id="accordionHeading{{ loop.index }}" role="tab">
          <h5 class="card-custom-title"><a class="collapsed heavy_weight" role="button" data-toggle="collapse" data-parent="#accordion" href="#accordionCollapse{{ loop.index }}" aria-controls="accordionCollapse1">{{ item.title }}</a>
          </h5>
        </div>


        <div class="card-custom-collapse collapse" id="accordionCollapse{{ loop.index }}" role="tabpanel" aria-labelledby="accordionHeading{{ loop.index }}">

          {% for block in item.children %}
          <div class="card-custom-body">
            <p><a href="{{ block.file.first().url() }}" target="_blank">{{ block.title }}</a></p>
          </div>
 {% endfor %}
      </div>
      </div>
{% endfor %}














  </div>
</section>

  <style>
    .card-custom-body p::before
    {
      content: '';
      background:url('/assets/images/download.png');
      width: 52px;/* width of the image */;
      height: 62px;/* height of the image */;
      position: absolute;
      left:0;
      margin-top:-15px;
transform:scale(.5);
    }

    .card-custom-body p
    {
      font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
      padding-left:60px;
      font-weight:800!important;
      color:#0A4F9A;
      font-size:22px;
    }

    .card-custom-title
    {
      padding-left:20px;
      font-size:26px;
    }


      .card-custom .card-custom-collapse .card-custom-body {
        padding: 5px 30px 0px 0;
      }

    .card-custom .card-custom-collapse .card-custom-body a:hover
    {
      color:    #01b7e8!important;
    }
    .card-custom .card-custom-collapse .card-custom-body a
    {
      color:#0A4F9A;!important;
    }



  </style>


{% endblock %}