{% extends "_layout" %}

{% block content %}
<style>
  .page{
    min-height: 20vh !important;

  }


  .custom_page
  {
    padding-top:160px;
    padding-bottom:50px;
  }
  </style>


  <div class="row text-center custom_page">
    <div class="col-sm-12">

      <h2 class="text_blue">{{ entry.title }}</h2>
    </div>
  </div>



    {% set index = 0 %}
    {% set outputed_block = '' %}
    {% set current_block = '' %}

    {% for block in entry.mainMatrixBlocks %}
        {% if block.type!="slideshow" %}

            {% set index = index+1 %}
            {% set current_block = block.type~1  %}
            {% if current_block != outputed_block and loop.index!=7%}
                {% set index = 1 %}
              </div>
              </div>
              </section>
            {% endif %}

            {% include 'matrix/_'~block.type %}
            {%  set outputed_block = block.type~1   %}
        {% endif %}
    {% endfor %}
  </div>
  </div>
  </section>


    <style>

        .pre-footer-corporate {
            margin-bottom: 0px!important;
            height: auto;
        }
    </style>

{% endblock %}