<section class="block_title_padding ">
<div class="container text-center">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="heading-decorated">{{ block.blockTitle }}</h4>
        </div>
        <br>