
{% if index==1 %}
<section class="section-md bg-default text-center capabilities_block_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="heading-decorated">OUR CAPABILITIES</h4>
      </div>
    </div>
  <div class="row row-50 justify-content-md-center justify-content-lg-start">
{% endif %}

      {% for row in block.capabilitiesList %}


        <div class="col-md-6 col-xl-4">
          <!-- Blurb circle-->
          <article class="blurb blurb-circle">
            <div class="unit flex-sm-row unit-spacing-md">
              <div class="unit__left ">

                <div class="blurb-circle__icon"><a href="{{ row.url  }} "><img class="icon_back" src="/assets/images/icons/{{ row.icon.value }}" alt=""></div></a>

              </div>
              <div class="unit__body normal_font">
                <p class="heading-6 blurb__title "><a href="{{ row.customUrl.first().url }}">{{ row.blockTitle }}</a></p><br>
                <a class="black_txt" href="{{ row.customUrl.first().url  }}">  {{ row.information |striptags('<strong><em><br>')|raw }}</a>
              </div>
            </div>
          </article>
        </div>

{% endfor %}


