



{% if index==1 %}
<section class="bg-default casestudies_block_padding">
  <div class="row text-center">
    <div class="col-sm-12 case_header">
      <h4 class="heading-decorated">CASE STUDIES</h4>
    </div>
  </div>

  <div class="container-fluid container-flex">
    <div class="row no-gutters">

{% endif %}


    <div class="col-sm-6 col-lg-4 col-xl-4">
  <!-- Thumb creative-->
  <div class="thumb-creative">
    <div class="thumb-creative__inner">
      <div class="thumb-creative__front">
        <figure class="thumb-creative__image-wrap"><img class="thumb-creative__image" src="{{ block.image.first().url() }}" alt="" width="480" height="361"/>
        </figure>
        <div class="thumb-creative__content">
          <h6>{{ block.frontTitle }}</h6>
          <h4>{{ block.frontInformation }}</h4>

        </div>
      </div>
      <div class="thumb-creative__back">
        <figure class="thumb-creative__image-wrap"><img class="thumb-creative__image" src="{{ block.image.first().url() }}" alt="" width="480" height="361"/>
        </figure>
        <div class="thumb-creative__content">
          <h6 class="thumb-creative__title"><a href="project-category.html">{{ block.backTitle }}</a></h6>
            {{ Block.backInformation }}<a class="button button-link" href="project-category.html">View projects</a>
        </div>
      </div>
    </div>
  </div>
</div>

