<!-- Our History-->
<section class="section-md bg-gray-lighter lefttext_and_3img_padding" >
  <div class="container">
    <div class="row justify-content-md-center row-30 row-md-50">
      <div class="col-md-11 col-lg-10 col-xl-6 normal_font">
        <h4 class="heading-decorated">{{ block.blockTitle }}</h4>
        <span class="font_monster " style="font-size:22px;">{{ block.secondTitle |raw}}</span><br><br>
        <span class="font_lato content2_p">{{ block.description  }}</span> <a style="margin-bottom:50px;color:white;" class="button button-primary blue" href="{{ block.customButton }}">Read more</a>
      </div>
      <div class="col-6 col-md-5 col-xl-3"><img src="{{ block.leftImage.first().url('threeImagesLeft') }}" alt="" width="311" height="490"/>
      </div>
      <div class="col-6 col-md-5 col-xl-3">
        <div class="group-30" style="width: 100%;"><img style="margin-bottom:22px;" src="{{ block.topImage.first().url('threeImagesBlock') }}" alt="" width="311" height="230"/><Br><img src="{{ block.bottomImage.first().url('threeImagesBlock') }}" alt="" width="311" height="230"/>
        </div>
      </div>
