

{%  if index==1 %}
    <section class="bg-default client_section ourclient_padding" >
    <div class="row text-center custom_page clients_padding">
    <div class="col-sm-12">
    <br><br>
    {% if craft.request.firstSegment == 'clients' %}
        <h4 class="heading-decorated">SOME OF THE CLIENTS WE HAVE WORKED WITH</h4>
        {% else %}
        <h4 class="heading-decorated">  SOME OF OUR CLIENTS</h4>
    {% endif %}
    </div>
    </div>
    <div class="container clients_logos">
    <div  class="row no-gutters centering " >
    {% if type=='mobile' %}
        <div class="slider">
    {% endif %}
{% endif %}
{% for asset in block.logo %}
    <div class="col-sm-4 col-lg-3 col-xl-3 logo_resize " >
    <img style="margin-bottom: 90px;" src="{{ asset.url() }}" alt="">
    </div>
{% endfor %}



