<div class="col-sm-6 col-lg-4 col-xl-4 no_padding public_works public_workd_padding" style="    padding-left: 15px;
    padding-right: 15px;">
 <h6 class="bold text_blue">{{ block.blockTitle }}</h6>
  {{ block.description }}
</div>