<section class="quote_padding">

  <div class="container-fluid ">
    <div class="row {% if block.greyBackground %} bg-gray-lighter {% endif %} quote_area" style="padding-left:30px;padding-right:30px;">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-2 text-center">
      </div>

      <div class="col-sm-12 col-xs-12 col-md-12 col-lg-10 col-xl-6 text-center">

        <div class="quote">{{ block.quotation }}</div>
        <br>
        <div class="author">  {{ block.author }}</div>
      </div>


      <div class="col-sm-12 col-xs-12 col-md-12 col-lg-2 col-xl-2 text-center quot">

        <img  class="logos" src="{{ block.roundLogo.first().url('quoteLogo') }}" alt="">

      </div>
