
{%  if index==1 %}


    <section {% if block.extraBottomMargin %}  style="padding-bottom:60px;" {% endif %}>
    <div class="container">
    <div class="row justify-content-md-center row-30 row-md-50">

    <div class="slick-gallery">

        <!-- Slick Carousel-->
        <div class="slick-slider carousel-parent" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel" data-for="#child-carousel" data-photo-swipe-gallery="gallery">

            {% for block in entry.mainMatrixBlocks %}
                {% if block.type=="slideshow" %}
                    {% for asset in block.image %}
                    <div class="item"><img src="{{ asset.url('slideshowMain') }}" alt="" width="1355" height="1020"/>
                    </div>
{% endfor %}
                {% endif %}
            {% endfor %}

        </div>



        <div class="slick-slider child-carousel" id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="3" data-sm-items="4" data-md-items="5" data-lg-items="6" data-xl-items="6" data-slide-to-scroll="1">


            {% for block in entry.mainMatrixBlocks %}
                {% if block.type=="slideshow" %}
                    {% for asset in block.image %}
                    <div class="item"><img src="{{ asset.url('slideshowMain') }}" alt="" width="1355" height="1020"/>
                    </div>
{% endfor %}
                {% endif %}
            {% endfor %}





{% endif %}
        </div>
    </div>