
<section class="section-md bg-gray-lighter white textimage_padding" >
  <div class="container">
    <div class="row justify-content-md-center row-30 row-md-50">
      <div class="col-md-11 col-lg-10 col-xl-6">
        <h4 class="heading-decorated">{{ block.blockTitle }}</h4>
        <div class="text_image_header">
          <span class="font_monster" style="font-size:22px;color:black;">{{ block.secondTitle | raw}}</span><br><br>
          <span class="font_lato content_p">{{ block.description  }}</span> {% if block.customUrl | length %}<a style="margin-bottom:50px;" class="button button-primary blue" href="{{ block.customUrl }}">Read more</a>{% endif %}
        </div>
      </div>
      <div class="col-md-11 col-lg-10 col-xl-6"><img src="{{ block.image.first().url('textImage') }}" alt="" width="652" height="491"/>
      </div>
