

{% if loop.index is even %}

<!-- Construction Management-->
<section class="bg-default textimagebutton_padding" >
  <div class="container">
    <div class="row justify-content-md-center flex-xl-row-reverse row-30 row-md-50">
      <div class="col-md-11 col-lg-10 col-xl-6 custom">
        <h4 class="heading-decorated">{{ block.title }}</h4>
      {% if block.blockTitle | length %}  <span class="font_monster" style="font-size:22px;color:black;">{{ block.blockTitle }}</span><br><br>{% endif %}
        <span  class="font_lato content3_p">{{ block.blockDescription  }}</span>

        {% if block.hideReadMoreButton %}

        {% else %}
    {% if block.mainMatrixBlocks | length %}
        <a style="margin-bottom:50px;" class="button button-primary blue" href="{{ block.url }}" >Read more</a>
    {% endif %}
        {% endif %}

      </div>
      <div class="col-md-11 col-lg-10 col-xl-6"><img src="{{ block.blockImage.first().url('capabilitiesList') }}" alt="" style="width:100%;"/>
      </div>
    </div>
  </div>
</section>

{% else %}
<!-- Design-Build-->
<section class="bg-gray-lighter textimagebutton_padding" >
  <div class="container">
    <div class="row justify-content-md-center row-30 row-md-50">
      <div class="col-md-11 col-lg-10 col-xl-6 custom" >
        <h4 class="heading-decorated">{{ block.title }}</h4>
          {% if block.blockTitle | length %}  <span class="font_monster" style="font-size:22px;color:black;">{{ block.blockTitle }}</span><br><br>{% endif %}
        <span  class="font_lato content3_p">{{ block.blockDescription  }}</span>

    {% if block.hideReadMoreButton %}

    {% else %}
        {% if block.mainMatrixBlocks | length %}
        <a  style="margin-bottom:50px;"  class="button button-primary blue" href="{{ block.url }}" >Read more</a>
            {% endif %}
        {% endif %}
      </div>
      <div class="col-md-11 col-lg-10 col-xl-6"><img src="{{ block.blockImage.first().url('capabilitiesList') }}" alt=""  style="width:100%;"/>
      </div>
    </div>
  </div>
</section>

{% endif %}