
<div class="container-fluid ">
  <div class="row twoimages_padding">


<div class="col-sm-12 col-lg-6 col-xl-6 no_padding">
  <img src="{{ block.imageLeft.first().url() }}" alt="" style="width:100%;height:100%;">
</div>

<div class="col-sm-12 col-lg-6 col-xl-6 no_padding">
  <img src="{{ block.imageRight.first().url() }}" alt="" style="width:100%;height:100%;">
</div>



  </div>
</div>



