
<section class="section-md bg-default two_column_text two_column_text_padding">
  <div class="container">
    <div class="row text-center">
      {% if block.smallTitle | length or block.mainTitle | length %}
      <div class="col-sm-12">
        <h6 style=" color:#0A4F9A;">{{ block.smallTitle }}</h6>
        <br>
        <h4 class="heading-decorated" >{{ block.mainTitle }}</h4>
      </div>
      {% endif %}
    <p class="text-sm-2 normal_lato_font columns_text" style="text-align:left;">{{ block.blockContent |striptags('<strong><em><br>')|raw }}</p>
      <br><br><br>


