<div class="banner text-center">
  <h4>FOR MORE INFORMATION CALL US ON {{ contact.tel }}</h4>
</div>



<div class="desktop_logo">
<div class="grey_logo">
  <ul>

    {% for block in homepage.footerLogos %}
      {% for asset in block.image %}
<li><img src="{{ asset.url() }}" alt="" style="padding-right: 30px;padding-bottom: 30px;"></li>
        {% endfor %}
    {% endfor %}

  </ul>
</div>
</div>


<div class="mobile_logo">
  <div class="grey_logo">
    <ul>
      <div class="slider">
          {% for block in homepage.footerLogos %}
          {% for asset in block.image %}
            <span> <li class="footer_li"><img src="{{ asset.url() }}" alt="" style="padding-right: 30px;padding-bottom: 30px;"></li></span>
              {% endfor %}
          {% endfor %}
      </div>
    </ul>
  </div>
</div>

