

    {#

    <!-- Page Footer -->
    <section class="pre-footer-corporate bg-gray-darker">
      <div class="container" style="font-size:12px;">
        <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60 " >
          <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3 brand_footer"><a class="brand" href="index.html"><img src="/assets/images/header_logo.png" alt="" width="274" height="55"/></a>
        </div>
          <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3 footer_nav_div">
            <h6 class="heavy">Navigation</h6>
            <div class="footer_nav">
            <ul class="list-xxs list-primary footer_nav">
              <li><a href="classic-blog.html">About</a></li>
              <li><a href="projects.html">Services</a></li>
              <li><a href="services.html">Case Studies</a></li>
              <li><a href="contacts.html">Clients</a></li>
               <li><a href="contacts.html">Downloads</a></li>
            </ul>
            </div>
          </div>




          <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3 normal_font heavy" style="color:white!important;">
            <h6 class="heavy">Contacts</h6>
            <ul class="list-xs footer_contact heavy">
             <li class="heavy">{{ contact.address }}</li>
              <li> </li>
              <li class="heavy">Telephone: {{ contact.tel }}</li>
              <li class="heavy">Email: <a href="emailto:">{{ contact.email }}</a></li>
            </ul>
          </div>



    <div class="footer_extra">
    <br>
      <ul class="light">
        <li>© Bridge Civil Engineering Ltd</li>
        <li><a href="/privacy-policy"> Terms & Privacy</a></li>
        <li><a href="http://reactor15.com">Designed & Developed by Reactor15</a> </li>
      </ul>

     </div>

          <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3 mapa_div">
            <div class="google-map-footer">
              <!-- RD Google Map-->
               <div id="map"></div>

            </div>
          </div>







        </div>
      </div>

    </section>

    </div>#}


    <section class="new_footer">

        <div class="row vertical-align ">
            <div class="col-lg-8 ">

                <div class="row d-flex justify-content-center left_content">
                    <div class="col-sm-10 col-md-4 col-lg-4 footer_img_div" style="margin-top:6px;"><a href="/">
                            <img src="/assets/images/footer_logo.png" alt="" width="274" height="55"/></a>
                        <div class="footer_additional">
                            <br>
                            <ul class="light">
                                <li>© Bridge Civil Engineering Ltd, </li>
                                <li><a href="/privacy-policy"> Terms & Privacy</a></li>
                                <li><a href="http://reactor15.com">&nbsp - Designed & Developed by Reactor15</a> </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-10 col-md-6 col-lg-2 nav_new ">
                        <ul class="list-xxs list-primary footer_nav">
                            <h6 class="heavy">Navigation</h6>
                            <li>&nbsp</li>
                            <li> </li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/our-capabilities">Capabilities</a></li>

                            {% if  case_menu.enabled %}
                                {% if case_studies !=0 %}
                                    <li><a href="/case-studies">Case Studies</a></li>
                                {% endif %}
                            {% endif %}


                            <li><a href="/clients">Clients</a></li>


                            {% if  downloads.enabled %}
                                <li><a href="/downloads">Downloads</a></li>
                            {% endif %}
                        </ul>

                    </div>
                    <div class="col-sm-10 col-md-6 col-lg-3 footer_contacts">
                        <h6 class="heavy">Contacts</h6>
                        <ul class="list-xs footer_contact heavy">
                            <li class="heavy">{{ contact.address }}</li>
                            <li> </li>
                            <li class="heavy footer_tel">Telephone: {{ contact.tel }}</li>
                            <li class="heavy">Email: <a href="emailto:">{{ contact.email }}</a></li>
                        </ul>
                    </div>

                </div>



            </div>
            <div class="col-lg-4 map_row">
                <div class="map_extra" id="map"></div>
            </div>

        </div>


        {% if entry.id!=383 %}


            <script type="text/javascript">
                var map1;
                function drawMap() {

                    var iconBase = '/assets/images/marker.png';
                    var myLatLng = {lat: 50.6235528, lng: -3.5830002};
                    var mapOptions = {
                        zoom: 15,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        mapTypeControl: true,
                        fullscreenControl: false,
                        icon: iconBase
                    };

                    mapOptions.center = new google.maps.LatLng(50.6235528, -3.5830002); // London
                    map1 = new google.maps.Map(document.getElementById("map"), mapOptions);




                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map1,
                        icon: iconBase
                    });








                }
            </script>

            <script async defer src="http://maps.google.com/maps/api/js?key=AIzaSyDStIxXbx02b994zIuVfUvSTuzSParXszk&callback=drawMap"></script>

        {% endif %}

    </section>