<header class="page-header">
  <!-- RD Navbar-->
  <div id="top_tinted_bar" class="rd-navbar-wrap pos_fixed" style=" background: rgba(10, 79, 154, .5);">
    <nav id="custom_nav" class="rd-navbar rd-navbar_transparent rd-navbar_boxed" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-md-stick-up-offset="115px" data-lg-stick-up-offset="35px" data-body-class="rd-navbar-absolute">
      <!-- RD Navbar Top Panel-->
      <div class="rd-navbar-top-panel">
        <div class="rd-navbar-top-panel__main">
          <div class="rd-navbar-top-panel__toggle rd-navbar-fixed__element-1 rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-top-panel__main"><span></span></div>

        </div>
      </div>
      <div class="rd-navbar-inner rd-navbar-search-wrap">
        <!-- RD Navbar Panel-->
        <div class="rd-navbar-panel rd-navbar-search-lg_collapsable">
          <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
          <!-- RD Navbar Brand-->
          <div  class="rd-navbar-brand"><a class="brand-name" href="/"><img id="top_logo" src="/assets/images/header_logo.png" alt="" width="274" height="55"/></a></div>
        </div>
        <!-- RD Navbar Nav-->
        <div class="rd-navbar-nav-wrap rd-navbar-search_not-collapsable">
          <!-- RD Navbar Nav-->
          <div class="rd-navbar__element rd-navbar-search_collapsable">

          </div>

          <div id="main_navigation" class="rd-navbar-search_collapsable">
            <ul id="custom_main_ul_nav" class="rd-navbar-nav">
              <li {% if craft.request.firstSegment == '' %}class="active2"{% endif %}><a href="/">Home</a></li>
              <li {% if craft.request.firstSegment == 'about' %}class="active2"{% endif %}><a href="/about">About</a></li>
              <li id="cap" {% if craft.request.firstSegment == 'our-capabilities' %}class="active2"{% endif %}><a href="/our-capabilities">Capabilities</a></li>

              {% set case_menu = craft.entries.id(294).first() %}

                {% if  case_menu.enabled %}
            {% if case_studies !=0 %}  <li id="case"{% if craft.request.firstSegment == 'case-studies' %}class="active2"{% endif %}><a  {% if entry.id==294 %}class="active" {% endif %}href="/case-studies">Case Studies</a></li>{% endif %}
              {% endif %}
              <li {% if craft.request.firstSegment == 'clients' %}class="active2"{% endif %}><a href="/clients">Clients</a></li>

              {% set downloads =  craft.entries.id(380).first() %}

                {% if  downloads.enabled %}
              <li {% if craft.request.firstSegment == 'downloads' %}class="active2"{% endif %}><a href="/downloads">Downloads</a></li>
{% endif %}
              <li {% if craft.request.firstSegment == 'contact' %}class="active2"{% endif %}><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- Swiper-->

{% if entry.id==2 %}
<section>
<div class="bg_index" style="background-image:url('{{entry.headerImage.first().url()}}')">

<h2 class="header_title">{{entry.headerTitle | raw}} </h2>
    {% if  case_menu.enabled %}
    {% if case_studies !=0 %}   <a href="{{ entry.headerButtonLink }}"><button class="btn-primary recent_project_btn">SEE OUR RECENT PROJECTS</button></a>{% endif %}
  {% endif %}
</div>
 
</section>
{% else %}

    {% if entry.headerImage | length %}
<section>
<div class="bg {% if entry.id==2 %} bg_index {% endif %}">
  <img style="width:100%;"  src="{{entry.headerImage.first().url('headerImage')}}"  >
<h2 class="header_title">{{entry.title}} </h2>

</div>
</section>
        {% endif %}
{% endif %}


<style>
body, html {
    height: 100%!important;
}



{% if entry.id!=2 %}
.bg {



}

.header_title, .bg h2
{
{#  position: absolute!important;#}
}

{% endif %}

</style>

