<!-- Posts-->
<section class="section-md bg-default">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="heading-decorated">Recent News </h4>
      </div>
    </div>
    <div class="row row-60">
      <div class="col-md-6 col-xl-4">
        <!-- Post classic-->
        <article class="post-classic post-minimal"><img src="/assets/images/home-post-2-418x315.jpg" alt="" width="418" height="315"/>
          <div class="post-classic-title">
            <h6><a href="image-post.html">Bike parts warehouse, DE</a></h6>
          </div>
          <div class="post-meta">
            <div class="group"><a href="image-post.html">
                <time datetime="2017">Jan.20, 2017</time></a><a class="meta-author" href="image-post.html">by Brian Williamson</a></div>
          </div>
          <div class="post-classic-body">
            <p>Delaware proved to be a very friendly place to work at… While invited there for completing a mid-sized warehouse for…</p>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <!-- Post classic-->
        <article class="post-classic post-minimal"><img src="/assets/images/home-post-1-418x315.jpg" alt="" width="418" height="315"/>
          <div class="post-classic-title">
            <h6><a href="standard-post.html">Future proofing hospitals</a></h6>
          </div>
          <div class="post-meta">
            <div class="group"><a href="standard-post.html">
                <time datetime="2017">Jan.20, 2017</time></a><a class="meta-author" href="standard-post.html">by Brian Williamson</a></div>
          </div>
          <div class="post-classic-body">
            <p>By improving the physical layout of hospitals and medical facilities, we can enhance and increase safety mechanisms, improve care, and…</p>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <!-- Post classic-->
        <article class="post-classic post-minimal"><img src="/assets/images/home-post-3-418x315.jpg" alt="" width="418" height="315"/>
          <div class="post-classic-title">
            <h6><a href="gallery-post.html">Joy Hotel & Casino</a></h6>
          </div>
          <div class="post-meta">
            <div class="group"><a href="gallery-post.html">
                <time datetime="2017">Jan.20, 2017</time></a><a class="meta-author" href="gallery-post.html">by Brian Williamson</a></div>
          </div>
          <div class="post-classic-body">
            <p>This hotel & casino complex is our most recent completed building… The whole structure that took us 6 months to…</p>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center"><a class="button button-primary" href="classic-blog.html">Read more</a></div>
    </div>
  </div>
</section>