<!-- Our Capabilities-->
<section class="section-md bg-default text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="heading-decorated">OUR CAPABILITIES</h4>
      </div>
    </div>

    <div class="row row-50 justify-content-md-center justify-content-lg-start">

        {% for block in homepage.ourCapabilities %}

      <div class="col-md-6 col-xl-4">
        <!-- Blurb circle-->
        <article class="blurb blurb-circle">
          <div class="unit flex-sm-row unit-spacing-md">
            <div class="unit__left icon_back">
              <div class="blurb-circle__icon"><img class="icon_back" src="/assets/images/icons/{{ block.icon.value }}" alt=""></div>
            </div>
            <div class="unit__body">
              <p class="heading-6 blurb__title"><a href="single-service.html">{{ block.blockTitle }}</a></p>
              {{ block.information }}
            </div>
          </div>
        </article>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
