<section class=" bg-default text-center new_padding2">
  <div class="container ">
    <div class="row ">
        <div class="col-sm-12 case_header team_margin">
        <h4 class="heading-decorated">THE MANAGEMENT TEAM</h4>
        </div>

      {% for block in entry.managementTeam %}
            <div class="col-sm-4 col-lg-4 col-xl-4 team_profile">
                <img class="team_photo" height="250" width="250" src="{{ block.image.first().url('teamPhoto') }}" alt="">
                <h6 class="bold">{{ block.personName }}</h6>
                <h6 id="team_photo" style="line-height: 17px;">{{ block.position }}</h6>
                <p><a href="mailto:{{ block.email }}">{{ block.email }}</a></p>
            </div>
      {% endfor %}
    </div>
  </div>
</section>