#cookie-info
{
    display:none;
    position: fixed;
    color: white;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    width: 100%;
    background: #0A4F9A;
    height: 75px;
z-index: 100;
    BORDER-top: 2PX SOLID BLACK;
}

#cookie-info p{
    margin: 0;
    padding: 0;

}
.text_cookie_footer
{
    position: absolute;
    top: 50%;
    width: 100%;
    /* top: 50%; */
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    line-height: 38px;
}


.cookie_buttons
{
    float: right;

}


.cookie_1 p{

    font-size: 14px!important;
}

#page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 400;
}
.frame
{
    width:100%;
    height:90%;


}
#policy-window
{
    display:none;
    position: fixed;

    width: 90%;
    height: 60%;

    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: whitesmoke;
    overflow: scroll;
    z-index: 4002;
}

.close-window
{
    left: 50%;
    -webkit-transform: translate(-50%,-50%);

}

.button-cookie-footer
{
    margin: 5px;
    padding: 7px;
    font-size:13px;

}

.cookie_1{
    display: inline-block;
    padding-left:20px;
}

.cookie_2{
    display: inline-block;

}

.cookie_3{
    float:right;
    display: inline-block;
    padding-right: 20px;
}

.cookieconsent-popup
{
    display:none!important;
}


@media screen and (max-width:1125px) {
    #cookie-info {
        height:136px;
    }



    .extra_footer_padding
    {
        padding-bottom: 107px!important;
    }

}




@media screen and (max-width:1080px)
{

    .cookie_1
    {
       text-align: left;
        padding-left:20px;
        padding-right:20px;
    }


    .cookie_buttons
    {
        float: none;
        text-align: center;
        display: block;
    }

    .cookie_2, .cookie_3
    {
        float:none;
    }


}




@media screen and (max-width:757px) {
    .cookieconsent-dialog-content {
        padding: 50px 50px;
        padding: 0px;
        /* margin: 20px auto; */
        width: 100%;
        font-size: 13px;
        position: relative;
    }
}

@media screen and (max-width:461px) {
    #cookie-info {

        height: 133px;
    }


    .extra_footer_padding
    {
        padding-bottom: 147px!important;
    }
    .text_cookie_footer {
        line-height: 30px;
    }


}



.extra_footer_padding
{
    padding-bottom: 76px;
}