body {
    height: 100%;
}


.structure_img {
padding-top:-60px;
}



#structure_id {
    display: block;

    margin-left: auto;
    margin-right: auto;
}




.blurb-circle__icon .icon {

    background: #0A4F9A;

}

.rd-navbar-static.rd-navbar--is-stuck.rd-navbar_transparent, .rd-navbar-static.rd-navbar--is-clone.rd-navbar_transparent {
    background: rgba(10, 79, 154, .8);

}

.client_section
{
    padding-bottom:0px;
}
.recent_project_btn
{

    color: #fff;
    background-color: #ff7109;
    border-color: #0A4F9A;
    top: 150px;
    position: relative;
    border-radius: 7px;
    padding: 10px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    background: #0A4F9A;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding: 16px 40px;
    font-size: 14px;
    line-height: 24px;
}


.blue{
    background: #0A4F9A!important;
    border-color: #0A4F9A!important;
transition:all .5;
}


.blue:hover{

    background: #01b7e8!important;
    border-color: #01b7e8!important;


}

.heading-decorated::after {

    background:#3C68E3;

}

.banner
{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    background:	#0F63AB;
    padding-top:50px;
    padding-bottom:50px;
    color:white!important;

}
.banner h4
{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    color:white!important;
}

.grey_logo ul li{
    display:inline-block;
    text-decoration: none;
}

.grey_logo ul
{
    text-align:center;
}


.grey_logo
{
    padding-top:80px;
    padding-bottom:80px;
}

.bg-gray-darker {
    background:#0a4E9C

}

.footer_nav, .footer_nav a
{
    color:white!important;
}

.footer_nav ul
 {
     line-height: 10px!important;
     font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 }

.footer_contact
 {
    color:white!important;
     line-height: 21px!important;
     font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 }

.footer_info{
    position: absolute;
    bottom: 10px;
    left: 60px;
    color: white;
}

.rd-navbar .rd-navbar-nav > li > a {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.28;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .06em;
}

.rd-navbar .rd-navbar-nav > li > a:hover {
    color:#01b7e8;

}

.rd-navbar-nav  li  a {
    color:white;

}

.rd-navbar-static .rd-navbar-nav > li.active > a, .rd-navbar-sidebar .rd-navbar-nav > li.opened > a, .rd-navbar-sidebar .rd-navbar-nav > li.active > a {
color:#01b7e8!important;

}

.heading-6
{
    line-height:20px;
    font-weight: 800;
}

.unit__body p{
    line-height:25px;
}


.desktop .blurb-circle .blurb-circle__icon .icon::after {

    background: #3be6fb!important;
}

.case_header{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    font-weight: 800;
}



.blurb-circle__icon img:hover {
    background: #3be6fb !important;
}



.grey{
background:#F2F2F2;
}

.white
{
    background:white;
}

.bold{
    font-weight:800!important;
    padding-top:10px;
}

.no_padding_top
{
    padding-top:0;
}

.no_padding
{
    padding:0;
}
.text_blue{
    color:	#06529D;
}

.public_works{
    text-align:left;
    padding-top:50px;
}


.normal_font
{
    color:#363636!important;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 25px;
    font-weight:300!important;
}


.header_title {

    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 3vw;
    width: 80%;
    text-align: center;
    color: white;
    -webkit-transform: translate(-50%,-50%);
}


.header_title h2
{

    color:white;
    font-weight: 800;
    font-family: "Helvetica Neue";
}


.header_title h2:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: '';
}

.desktop .thumb-creative__front .thumb-creative__image {
    opacity: .8;
}

.desktop .thumb-creative__back .thumb-creative__image {
    opacity: .2;
}

.icon_back
{
    background: #0A4F9A;

    height: 100px;
    /* color: white!important; */
    border-radius: 100px;
    margin-top: -3px;
  transition: all .4s;

}

.icon_back:hover
{
    background:#01b7e8;
}


.blurb__title:hover  + .icon_back
{

    background:#01b7e8;

}


.blurb__title:hover  ~ div

{

    background:#01b7e8;

}






a, a:active, a:focus {
    color: #01b7e8;
}

.blurb a:hover
{
    color:#01b7e8!important;
}

.recent_project_btn:hover
{
    background:#01b7e8;
    border:1px solid #01b7e8;;
}
.recent_project_btn
{
    transition:all .4s;
}

.list-primary li a:hover
{
    color:#01b7e8!important;
}

.custom p
{

    font-family: "Helvetica Neue";
    color:#363636;
}

.quote{

    font-weight:bold;
    color: #0A4F9A!important;
    font-size: 22px;
    font-family: "Helvetica Neue";
padding-left:90px;
    padding-right:90px;
}



.quote::before{
    content: '';
    background:url('/assets/images/quote_start.png?v=3');
    width: 81px;/* width of the image */;
    height: 64px;/* height of the image */;
    display: block;
    position: absolute;
    top:0;
    left:0;

}
.quote::after{
     content: '';
     background:url('/assets/images/quote_end.png?v=4');
     width: 81px;/* width of the image */;
     height: 64px;/* height of the image */;
     display: block;
    position: absolute;
    top:0;
    right:0;

 }

.logos{
margin-top:10px;
    position: relative;

}

.quote_area
{
    padding-top:80px;
    padding-bottom:60px;
}

.footer_contact
{
    line-height: 20px!important;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


.footer_extra ul li{
    display:inline-block;
    padding-left:15px;
    padding-right:10px;
}

.footer_extra
{
    position: absolute;
    color:white;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
top:250px;

}
.footer_main_div {
    padding-bottom: 100px;
}


.footer_extra ul{
    padding-left:30px;
}


.mapa_div
{
    margin-bottom: 170px!important;
}


@media screen and (max-width: 770px)
{

    html .row-30 {
         margin-bottom: 30px;
    }

#map
{
	margin-bottom:40px;

}
.footer_extra
{
	margin-left:35px;
	margin-bottom:50px;


}

}




@media screen and (max-width: 600px)
{

.quote, .logos
{
transform:scale(.7);

}



    .quote::before, .quote::after{

        transform:scale(.5);
    }


.author
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

}



@media screen and (max-width: 1399px) {

    .rd-navbar-brand img {
        position: relative;
        display: inline-block;
        height: 75px !important;
        width: auto;
        top: 0;
        left: 0px !important;
    }


}

@media screen and (max-width: 1285px) {
    .custom_main_ul_nav {
        margin-left: auto !important;;
        margin-right: auto !important;;
        width: 100% !important;;

    }


}


.rd-navbar-static .rd-navbar-inner
{
min-height:120px!important;
}
    .rd-navbar-static .rd-navbar-nav-wrap {

        margin-top: 0;
    }


    .footer_extra {
        position: absolute;
        color: white;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        bottom: -80;
        top: 530px;

    }
    .brand img {
        margin-top: 0px!important;
transform:scale(.6);
        margin-left:-220px;
    }
    .footer_extra ul {
        padding-left: 0px;
    }


    .pre-footer-corporate
    {
        height:740px;
    }
}






@media screen and (max-width: 990px)

{
    .brand img {
        margin-top: 0px!important;
        transform:scale(.6);
        margin-left:-90px;
    }

.footer_nav_div
{
    margin-top: 40px!important;
    margin-bottom:20px!important;
}
.mapa_div
{
    margin-bottom: 60px!important;
}
.footer_extra
{
    top:600px;
    left:120px;
}
    .pre-footer-corporate
    {
        height:650px;
    }

    .rd-navbar-brand img {
        display: inline-block!important;
        left:0!important;

    }


}
@media screen and (max-width: 762px)
{

    .footer_extra
    {
        top:940px;
        left:110px;
    }
    .ui-to-top {

        bottom: 70px;
    }
    .brand_footer
    {
        height: 120px;

    }
    .brand img {

        margin-left:-120px;
    }

    .pre-footer-corporate
    {
        height:990px;
    }
}

@media screen and (max-width: 575px)
{
    .footer_extra
    {
        top:930px;
        left:-30px;
    }


}





strong
{
	font-weight:bold!important;
}


.footer_nav, .heavy
{
	font-weight:800;
}
	.rd-navbar-fixed .rd-navbar-fixed__element-1 {
		display:none;
	}


	

.rd-navbar-inner
{
    padding-top:0!important;
    padding-bottom:0!important;
}


.rd-navbar-brand img
{
    position: relative;
    display: inline-block;
    height: 125px;
    width: auto;
    top: 0;
    left:-50px
}



.rd-navbar-nav
{
    position: absolute;
    right:20px;
}

#ui-to-top
{
    background: #0A4F9A;
    bottom: 0px;
}
#ui-to-top:hover
{
    background:#01b7e8;
}

.btn-primary
{
   letter-spacing:2px;
}


@media (min-height: 800px) and (min-width: 1200px) {
    .section-md {
        padding: 60px 0;
    }
}

.logo_resize img
{
    text-align: center;


}

.brand img {

    margin-top: -12px;
}

.footer_contact li, .footer_nav li{
    font-weight:400!important;
}

.light{
    font-weight:400!important;
}

h2
{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif!important;
}



.text_image_header p
{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    line-height: 27px;
    color:#363636;
}
.text_image_info
{
    font-family: "lato";
    font-weight: 400;
  color:#363636;
}

@media (min-height: 800px) and (min-width: 1200px) {
    .section-md {
        padding: 10px 0;
    }
}

html .row-30 {
    margin-bottom: -50px!important;
}

.team_profile
{
    margin-bottom:40px;
}

.case_header {

    padding-top: 0px!important;

}


    .section-lg {
        padding: 80px 0;
    }



.centering
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.list-primary li a:hover, .footer_contact li a:hover, .light li a:hover{

    color: #01b7e8;
}

.rd-navbar-nav li a
{
    text-transform: capitalize!important;
    font-size:18px!important;
}

.font_monster{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif!important;
}

.font_lato
{
    font-family:'lato'!important;

}





@media screen and (max-width: 576px)
{
	.recent_project_btn
{
        transform: scale(.8);
}
.unit__body
{
    margin-top: -0px!important;
}
.blurb__title
{

}

.logo_resize img
{
	    margin-bottom: 0px!important;

}


.logo_resize
{

    margin-left: auto;
    margin-right: auto;

    position: relative;
    text-align: center;
}


.homepage_title h2
{
	font-size:32px!important;
}


}

@media screen and (max-width: 991px)
{
	.recent_project_btn
	{
		top:60px;
	}
}

@media (max-width: 767px) {
    .map_row {

        margin-top: 40px;
    }
}









.rd-navbar-fixed .rd-navbar-panel{
    background: rgba(10, 79, 154, .5);

}


.rd-navbar-fixed .rd-navbar-nav-wrap
{
    background: rgba(10, 79, 154, .9);
}


.rd-navbar-fixed .rd-navbar-nav li:hover > a, .rd-navbar-fixed .rd-navbar-nav li.focus > a, .rd-navbar-fixed .rd-navbar-nav li.active > a, .rd-navbar-fixed .rd-navbar-nav li.opened > a
{
background:black;
}

.bg_index {
    /* index view*/

    position:relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 950px;
    overflow: hidden;
    height: 100vh;
}






.bg
{

    position: relative;


}



.header_title
{

}

.recent_project_btn
{
    top:75%;
    left: 0%;
    right: 0%;
    margin: auto;
    width:350px;
    position:absolute;

}





@media(max-width:600px)
{

    .banner hr
    {
        padding-left:10px;
        padding-right:10px;


    }

}



@media(max-width:767px)
{

    .footer_nav_div
    {
        text-align:center;
        margin-top: 20px!important;


        padding-top: 0px;

    }

    .footer_nav
    {

        padding-bottom:20px;
    }
    .footer_main_div {
        text-align: center;
    }

    .brand img
    {
        margin-left: 0px;
    }
}

.footer_extra{
    top:940px;
    left:50px;
}

.footer_contact
{
    margin-bottom:20px;
}


@media(max-width:509px) {
    .bg h2
    {
        font-size:30px;

    }

    .bg{

    }

    .bg h2
    {

    }

}





@media(max-width:650px) {

    .footer_extra{
        width:100%;
        left: -30px;
    }

    .ui-to-top {
        bottom: 0px;
    }
}

.pre-footer-corporate{
    margin-bottom: 0px!important;
    height:90%

}


@media(min-width:770px) {


    .footer_extra{
        top:640px;
    }
}


@media(min-width:992px) {


    .footer_main_div {
        padding-bottom: 0px;
    }




}


@media(min-width:1200px) {


    .footer_main_div {
        padding-bottom: 150px;
    }

    .footer_extra{
        top:340px;
        left:10!important;
    }



}

.rd-navbar-fixed .rd-navbar-brand img {
    /* height: 100%; */
    /* width: auto; */
    left: 50;
    height: 56px;
    padding-top: 20px;
}

.heading-decorated::after {

    margin-bottom: 25px!important;
}

@media(max-width:992px) {



    .custom_page {
        padding-top: 30px!important;
        padding-bottom: 50px;
    }


}


@media(min-width:1600px)
{

    .footer_extra {

        left:250px;
    }

}


@media (max-width: 768px) {



.footer_additional
{
    margin-top: 20px;
}

.new_footer
{
    padding-bottom: 40px;
}

}




.img_shrink {
    height: 61px !important;
    margin-top: -60px;

}


.img_shrink2
{

    margin-top: 0px;





}
.nav_shrink
{
height:63px!important;
}
.nav_ul_shrink
{
margin-top:-50px!important;
}
.nav_ul_shrink2
{
margin-top:-50px!important;
}

.centering_nav
{
    margin-left: auto!important;;
    margin-right: auto!important;;
    width: 100%!important;;
}

.centering_nav_ul
{
position:relative;

}

.custom_block_padding
{
    padding-top:50px!important;
    margin-bottom:30px!important;
}

@media (max-width: 992px)
{
    .section-md {
        padding: 30px 0;
    }

    .rd-navbar-nav
    {
        position: absolute;
        right: 20px;
    }

    .recent_project_btn {
        top: 65%;

    }

    .header_title {



    }


}

@media (max-width: 1332px)
{

    .header_title {



    }


}

@media (max-width: 370px) {


.quote p{


        width: 290px;
        left: 0;
        margin-left: -90px;

}

    .quote::before{

        left: -70px;
    }


    .quote::after {

        left: 280px;
    }

.quote_area
{
    padding-top: 30px;
    padding-bottom: 30px;
}
    .logos {
        margin-top: 0px;
    }
}


body{
    overflow-x: hidden;
}

@media (max-width: 585px) {

.two_column_text
{
padding-left:20px;
    padding-right:20px;
}

}

.tinted_bar
{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 1%, transparent 100%)!important;
    box-shadow: none;
}

.pos_fixed{
    position: fixed!important;
}


.quote
{
    font-weight: 800;
    color: #0A4F9A!important;
    font-size: 24px;
    font-family: "lato";
    padding-left: 90px;
    padding-right: 90px;
    text-align: left;
}

.author
{

    font-weight: 400;
    color: #0A4F9A!important;
    font-size: 14px;
    font-family: "lato";
    padding-left: 90px;
    padding-right: 90px;
    text-align: left;
}




.footer_additional ul li, .footer_additional ul li a
{
    display:inline-block;
    color:white;


}


.footer_additional
{
    min-width: 600px;
    position: absolute;
    top: 250px;
    left: 18px;
}


@media (max-width: 1310px) {

    .footer_additional
    {

        top: 280px;

    }



}

@media (max-width: 991px) {

    .footer_additional
    {

        top: 750px;

    }

    .map_row
    {
        margin-bottom:50px;
    }





}

@media (max-width: 767px) {

    .left_content
    {
        text-align:center;
    }

    .footer_additional
    {

        /* min-width: 600px; */
        position: absolute;
        top: 870px;
        left: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }

    .map_row
    {
        margin-bottom:40px;
    }

}

@media (max-width: 713px) {

    .footer_additional ul{
        width:300px;
        left:20%
    }

    .footer_additional {

        left:20%
    }
    .left_content {
        padding-top: 60px!important;
    }

    .new_padding2 {
        padding-top: 50px!important;
        padding-bottom: 0px!important;
    }

}

@media (max-width: 470px) {

    .footer_additional {
top:890px;
        left:12%
    }

    .banner
    {
        padding-left:10px;
        padding-right:10px;
    }
    .left_content {
        padding-top: 40px!important;
    }

    .footer_img_div img
    {
        margin-bottom: 30px;
    }


}


@media (max-width: 991px)
{



    .left_content
    {
        padding-top:30px;
    }


}



.vertical-align {
    display: flex;
    align-items: center;
}

.new_footer
{
    background: #0a4E9C;
    font-size:14px;
}

.new_footer h6
{
    font-weight: 800;
    color:white;
}



.footer_nav ul, .list-primary ul, .nav_new ul
{
    line-height: 10px!important;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


#map, #map2 {
    height: 400px;
    width: 100%;
}

.google-map-footer {
    top: 0px;
    bottom: 0px;
}
.pre-footer-corporate {
    padding: 0;
}
html .row-30 {
    margin-bottom: 0px;

}

html .row-30 > * {
    margin-bottom: 70px;
    padding-top: 70px;
}




@media (max-width: 1200px)
{

    html .row-30 > *
    {
        margin-bottom: 0px;
        padding-top: 0px;
    }

}

.rd-navbar-static .rd-navbar-nav {
    margin: -20px -20px 0;
    text-align: center;
}




.rd-navbar-nav li a{
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 500!important;
}

.new_padding
{
padding-top:90px!important;
    padding-bottom:130px;
}

.new_padding2
{
    padding-top:90px;
    padding-bottom:20px;
}



html .row-30 > * {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    html .row-md-50 > * {
        margin-bottom: 40px;
    }
}

html .row-30 > * {
    margin-bottom: 40px;
    padding-top: 0px;
}

html .row-30 > * {
    margin-bottom: 0px;
    padding-top: 0px;
}

.font_18
{
    font-size:18px!important;
}

.font_lato p
{
    font-size: 18px;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:400;
}

.vary_padding
{
    margin-top:200px;
}


@media (max-width: 1200px) {

    .vary_padding
    {
        margin-top:100px;
    }


}

.block_title_padding
{

}
.capabilities_block_padding
{
    padding-top: 80px;
    padding-bottom: 90px;
}

.casestudies_block_padding
{

}

.lefttext_and_3img_padding
{
    padding-top: 90px;
    padding-bottom: 140px;
}

.ourclient_padding
{


}

.public_workd_padding
{

}
.quote_padding
{

}

.textimage_padding
{
    padding-top: 100px;
    padding-bottom: 140px;
}

.textimagebutton_padding
{
    padding-top: 90px;
    padding-bottom: 140px;
}

.two_column_text_padding
{
    padding-top: 70px!important;
}

.twoimages_padding
{

}
.clients_padding
{
    padding-top:40px;
    padding-bottom:0px;
}

.contact_padding
{
   margin-bottom:150px;
    margin-top:100px;
}

@media (max-width: 767px) {
    .thumb-creative {
        max-width: 100%!important;

    }
}

@media (max-width: 767px) {
    .footer_additional {

        top: 910px;

    }


    .textimagebutton_padding {
        padding-top: 40px;
        padding-bottom: 100px;
    }


}

@media (max-width: 991px)
{

    .contact_padding
    {
        margin-bottom:50px;
        margin-top:20px;

    }

}



    .bg h2 {
        position: absolute;
        left: 50%;
        top: 70%;
        color:white;
        -webkit-transform: translate(-50%,-50%);

    }


.logo_resize
{


    text-align: center;
}

@media (min-width: 991px) {
    .footer_tel {
        width: 200px;
    }


}

@media (max-width: 991px) {
    .vary_padding {
        width: 30px;
    }


}

.normal_lato_font
{
    font-size: 16px;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:400;
    color:black;
}




@media  screen and (min-width: 991px) and (max-width: 1200px) {

.capabilities_block_padding
{
    padding-left:100px;
    padding-right:100px;
}

}


@media screen and (max-width: 1200px) {


    #custom_main_ul_nav {

        padding-left:20px;

    }





}

.block_title_padding
{
    padding-top:50px;
    padding-bottom:30px;
}

.bg{


}


@media screen and (max-width: 1200px) {

    .textimage_padding
    {
        padding-top: 40px;
        padding-bottom: 110px;
    }

.lefttext_and_3img_padding
{
    padding-top: 70px;
}

.two_column_text_padding
{
    padding-bottom: 0;
}
    .case_studies_pad
    {
        margin-top:70px!important;
    }

    .contact_padding {
        margin-bottom: 100px;
        margin-top: 0px;
    }




}


@media screen and (max-width: 991px) {

    .case_studies_pad
    {
        margin-top:0px!important;
    }
    html .row-70 > * {
        margin-bottom: 40px;
    }


    .clients_logos {
        padding-top: 0px!important;
    }
}


.case_studies_pad
{
   margin-top:200px;
}

.clients_logos
{
    padding-top: 80px;
}

.team_margin{
    margin-bottom: 40px;
}



@media screen and (min-width: 1150px) {

    .footer_contacts {
        margin-left: 70px;
    }

}


@media screen and (max-width: 1150px)  and (min-width: 991px)  {

    .footer_contacts {
        padding-left: 50px;
    }
}



.columns_text
{
    padding-top:30px;
}

@media screen and (max-width: 1399px) {


    .structure_img
    {


    }


    .rd-navbar-brand img {

        left: 70px!important;
top:-10px;
    }

    @-moz-document url-prefix() {
        .rd-navbar-brand img {

            left: 70px!important;
            top:-18px;
        }



    }




    .rd-navbar-static .rd-navbar-nav {
        margin: -20px 60px 0;

    }
}


@media screen and (max-width: 1199px) {

    .structure_img {

    }

    .rd-navbar-brand img {

        left: 0px!important;

    }

}
.clients_blocks
{
    margin-top: -150px;
}


@media screen and (max-width: 990px) {


    .clients_blocks
    {
        margin-top: -40px;
    }



}

@media (min-width: 767px) and (max-width: 990px) {

    .list-primary
    {
        padding-left:190px;
    }


}

@media(max-width:976px) {
.cont2, .thumb-creative__content
{
    opacity:1;
}
}

.cont2 a:hover, .cont1 a:hover {
    color: #01b7e8!important;
}


.bx-next, .bx-prev
{
    font-size: 40px;
    position: relative;
    top: -220px;
}

@media(max-width:471px) {

    .bx-next, .bx-prev {
        top: -130px;
    }

    .grey_logo {
        width: 95%;
        padding-top: 80px;
        padding-bottom: 80px;
        margin-right: auto;
        margin-left: auto;
    }
.grey_logo .bx-controls .bx-controls-direction .bx-prev, .grey_logo .bx-controls .bx-controls-direction .bx-next
{
    top: -120px;
}

.footer_li
{
    margin-left:50px;
}



    .quote::after {
        margin-right: -70px;
    }

    .quote::before {
        margin-left: -70px;
    }

    .quote {

        padding-left: 0px;
         padding-right: 0px;
       text-align: center;
    }


}


.bx-controls-direction a {
    color:#363636;
}






@media(max-width:575px) {

    .desktop_logo
    {
       visibility: hidden;
        height:0px

    }
    .bx-next, .bx-prev {
        top: -130px;
    }
    .grey_logo .bx-controls .bx-controls-direction .bx-prev, .grey_logo .bx-controls .bx-controls-direction .bx-next
    {
        top: -120px;
    }

    .grey_logo .bx-controls .bx-controls-direction .bx-prev
    {
        padding-left:5px;
    }

    .grey_logo .bx-controls .bx-controls-direction .bx-next
    {
        padding-right:5px;
    }
}

@media(min-width:576px) {

    .mobile_logo
    {
      visibility: hidden;
   height:0px;
    }

    .lefttext_and_3img_padding {

        padding-bottom: 120px;
    }
}
@media(max-width:415px) {

    .bx-next, .bx-prev {
        top: -110px;
    }

    .bg {



    }
    .lefttext_and_3img_padding {

        padding-bottom: 120px;
    }
}
@media(max-width:1200px) {

    .content_p p {
        padding-bottom: 50px;
    }
    .new_padding2 {
        padding-top: 60px;

    }

    .content2_p p {
        padding-bottom: 20px;
    }
    .centering_nav_ul
    {
        position: absolute;
    }




}

@media(max-width:990px) {



    .content3_p p {
        padding-bottom: 20px;
    }
}


@media(max-width:990px) {
    #custom_main_ul_nav {

        padding-left: 20px;
        padding-top: 50px;

    }
}


@media(min-width:990px) {
    .map_extra {
        margin-left: 50px;
    }
}


@media screen and (min-width: 1199px) and (max-width:1399px) {
    .rd-navbar-brand img {
     height:60px!important;
        top: -5px;
    }
}


@media screen and (min-width: 990px) and (max-width:1199px) {
    .rd-navbar-brand img {

        top: 0px;
    }
}





@media(max-width:1039px) {

    .rd-navbar-static .rd-navbar-nav {
        margin: -20px 20px 0;
    }
}

.card-custom + .card-custom
{
    border-top:none;
}



.blurb:hover .heading-6 a
{
    color: #01b7e8!important;
}

.blurb:hover .blurb-circle__icon img
{
    background: #01b7e8!important;
}

.black_txt, .blurb a:hover {
   color:#363636!important;
}


.rd-navbar-fixed .rd-navbar-nav li:hover > a, .rd-navbar-fixed .rd-navbar-nav li.focus > a, .rd-navbar-fixed .rd-navbar-nav li.active > a, .rd-navbar-fixed .rd-navbar-nav li.opened > a
{
    background:none;

}

.active2
{
    color: #01b7e8!important;

}

.active2 a
{
    color: #01b7e8!important;

}
@media(max-width:767px) {
    .page {

        min-height: 60vh !important;
    }
}

.rd-navbar-static.rd-navbar_transparent, .rd-navbar-brand img {
transition:all .5s;
}

.show{
    display: block!important;
}




@media(max-width:991px) {

    .header_title{
        font-size: 4vw;
    }
}

@media(max-width:570px) {

    .header_title{
        top:40%;
        font-size: 6vw;
    }
}

.rd-navbar-fixed .rd-navbar-nav-wrap
{
    width:250px;
}

.team_photo{

}

#team_photo {
    text-transform: lowercase;
}

#team_photo::first-letter {
    text-transform: uppercase;
}