

.blurb-circle__icon .icon {

    background: #0A4F9A;

}

.rd-navbar-static.rd-navbar--is-stuck.rd-navbar_transparent, .rd-navbar-static.rd-navbar--is-clone.rd-navbar_transparent {
    background: rgba(10, 79, 154, .8);

}

.client_section
{
    padding-bottom:0px;
}
.recent_project_btn
{

    color: #fff;
    background-color: #ff7109;
    border-color: #0A4F9A;
    top: 150px;
    position: relative;
    border-radius: 7px;
    padding: 10px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    background: #0A4F9A;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
}


.blue{
    background: #0A4F9A!important;
    border-color: #0A4F9A!important;
transition:all .5;
}


.blue:hover{

    background: #01b7e8!important;
    border-color: #01b7e8!important;


}

.heading-decorated::after {

    background:#3C68E3;

}

.banner
{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    background:	#0F63AB;
    padding-top:50px;
    padding-bottom:50px;
    color:white!important;

}
.banner h4
{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    color:white!important;
}

.grey_logo ul li{
    display:inline-block;
    text-decoration: none;
}

.grey_logo ul
{
    text-align:center;
}


.grey_logo
{
    padding-top:80px;
    padding-bottom:80px;
}

.bg-gray-darker {
    background:#0a4E9C

}

.footer_nav, .footer_nav a
{
    color:white!important;
}

.footer_nav ul
 {
     line-height: 10px!important;
     font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 }

.footer_contact
 {
    color:white!important;
     line-height: 21px!important;
     font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 }

.footer_info{
    position: absolute;
    bottom: 10px;
    left: 60px;
    color: white;
}

.rd-navbar .rd-navbar-nav > li > a {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.28;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .06em;
}

.rd-navbar .rd-navbar-nav > li > a:hover {
    color:#01b7e8;

}

.rd-navbar-nav  li  a {
    color:white;

}

.rd-navbar-static .rd-navbar-nav > li.active > a, .rd-navbar-sidebar .rd-navbar-nav > li.opened > a, .rd-navbar-sidebar .rd-navbar-nav > li.active > a {
color:#01b7e8!important;

}

.heading-6
{
    line-height:20px;
    font-weight: 800;
}

.unit__body p{
    line-height:25px;
}


.desktop .blurb-circle .blurb-circle__icon .icon::after {

    background: #3be6fb!important;
}

.case_header{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding-top: 70px;
    padding-bottom: 25px;
    font-weight: 800;
}



.grey{
background:#F2F2F2;
}

.white
{
    background:white;
}

.bold{
    font-weight:800!important;
    padding-top:10px;
}

.no_padding_top
{
    padding-top:0;
}

.no_padding
{
    padding:0;
}
.text_blue{
    color:	#06529D;
}

.public_works{
    text-align:left;
    padding-top:50px;
}


.normal_font
{
    color:#363636!important;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 25px;
    font-weight:300!important;
}


.header_title

{
    position: relative;
    display: inline-block;
    width:100%;
    padding:0;
    margin:0;

}
.header_title h2
{
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    color:white;
    font-weight: 800;
    font-family: "Helvetica Neue";
}


.header_title h2:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: '';
}

.desktop .thumb-creative__front .thumb-creative__image {
    opacity: .8;
}

.desktop .thumb-creative__back .thumb-creative__image {
    opacity: .2;
}

.icon_back
{
    background: #0A4F9A;
    width: 85px;
    height: 80px;
    color: white!important;
    border-radius: 100px;
    transition: all .4s;

}
}
.icon_back:hover
{
    background:#01b7e8;
}

a, a:active, a:focus {
    color: #01b7e8;
}

.blurb a:hover
{
    color:#01b7e8!important;
}

.recent_project_btn:hover
{
    background:#01b7e8;
    border:1px solid #01b7e8;;
}
.recent_project_btn
{
    transition:all .4s;
}

.list-primary li a:hover
{
    color:#01b7e8!important;
}

.custom p
{

    font-family: "Helvetica Neue";
    color:#363636;
}

.quote{

    font-weight:bold;
    color: #0A4F9A!important;
    font-size: 22px;
    font-family: "Helvetica Neue";
padding-left:90px;
    padding-right:90px;
}



.quote::before{
    content: '';
    background:url('/assets/images/quote_start.png?v=3');
    width: 81px;/* width of the image */;
    height: 64px;/* height of the image */;
    display: block;
    position: absolute;
    top:0;
    left:0;

}
.quote::after{
     content: '';
     background:url('/assets/images/quote_end.png?v=4');
     width: 81px;/* width of the image */;
     height: 64px;/* height of the image */;
     display: block;
    position: absolute;
    top:0;
    right:0;

 }

.logos{
margin-top:30px;
    position: relative;
    width:160px;
    height:160px;
}

.quote_area
{
    padding-top:80px;
    padding-bottom:80px;
}

.footer_contact
{
    line-height: 20px!important;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


.footer_extra ul li{
    display:inline-block;
    padding-left:15px;
    padding-right:10px;
}

.footer_extra
{
    position: absolute;
    color:white;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
top:250px;

}
.footer_main_div {
    padding-bottom: 100px;
}


.footer_extra ul{
    padding-left:30px;
}


.mapa_div
{
    margin-bottom: 170px!important;
}


@media screen and (max-width: 770px)
{

    html .row-30 {
         margin-bottom: 30px;
    }

#map
{
	margin-bottom:40px;

}
.footer_extra
{
	margin-left:35px;
	margin-bottom:50px;

	
}

}




@media screen and (max-width: 600px)
{

.quote, .logos
{
transform:scale(.7);

}

}


@media screen and (max-width: 1200px)
{

    .rd-navbar-brand img
    {
      display:none!important;
    }
.rd-navbar-static .rd-navbar-inner
{
min-height:120px!important;
}
    .rd-navbar-static .rd-navbar-nav-wrap {

        margin-top: 0;
    }


    .footer_extra {
        position: absolute;
        color: white;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        bottom: -80;
        top: 530px;

    }
    .brand img {
        margin-top: 0px!important;
transform:scale(.6);
        margin-left:-220px;
    }
    .footer_extra ul {
        padding-left: 0px;
    }


    .pre-footer-corporate
    {
        height:740px;
    }
}


@media screen and (max-width: 990px)

{
    .brand img {
        margin-top: 0px!important;
        transform:scale(.6);
        margin-left:-90px;
    }

.footer_nav_div
{
    margin-top: 40px!important;
    margin-bottom:20px!important;
}
.mapa_div
{
    margin-bottom: 60px!important;
}
.footer_extra
{
    top:600px;
    left:120px;
}
    .pre-footer-corporate
    {
        height:650px;
    }

}
@media screen and (max-width: 762px)
{

    .footer_extra
    {
        top:940px;
        left:110px;
    }
    .ui-to-top {

        bottom: 70px;
    }
    .brand_footer
    {
        height: 120px;

    }
    .brand img {

        margin-left:-120px;
    }

    .pre-footer-corporate
    {
        height:990px;
    }
}

@media screen and (max-width: 575px)
{
    .footer_extra
    {
        top:930px;
        left:-30px;
    }


}





strong
{
	font-weight:bold!important;
}


.footer_nav, .heavy
{
	font-weight:800;
}
	.rd-navbar-fixed .rd-navbar-fixed__element-1 {
		display:none;
	}


	

.rd-navbar-inner
{
    padding-top:0!important;
    padding-bottom:0!important;
}


.rd-navbar-brand img
{
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-top: 0;
    height: 120px;
    left: 0;
    margin-left: -50px;
    width:auto;

}

.rd-navbar-nav
{
    position: absolute;
    right:20px;
}

#ui-to-top
{
    background: #0A4F9A;
}
#ui-to-top:hover
{
    background:#01b7e8;
}

.btn-primary
{
   letter-spacing:2px;
}


@media (min-height: 800px) and (min-width: 1200px) {
    .section-md {
        padding: 60px 0;
    }
}

.logo_resize img
{

    max-width: 70%;
}

.brand img {

    margin-top: -12px;
}

.footer_contact li, .footer_nav li{
    font-weight:400!important;
}

.light{
    font-weight:400!important;
}

h2
{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif!important;
}



.text_image_header p
{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    line-height: 27px;
    color:#363636;
}
.text_image_info
{
    font-family: "lato";
    font-weight: 400;
  color:#363636;
}

@media (min-height: 800px) and (min-width: 1200px) {
    .section-md {
        padding: 10px 0;
    }
}

html .row-30 {
    margin-bottom: -50px!important;
}

.team_profile
{
    margin-bottom:40px;
}

.case_header {

    padding-top: 0px!important;

}


    .section-lg {
        padding: 80px 0;
    }





.list-primary li a:hover, .footer_contact li a:hover, .light li a:hover{

    color: #01b7e8;
}

.rd-navbar-nav li a
{
    text-transform: capitalize!important;
    font-size:18px!important;
}

.font_monster{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif!important;
}

.font_lato
{
    font-family:'lato'!important;
}