@media (max-width: 370px) {


    .quote p{


        width: 290px;
        left: 0;
        margin-left: -90px;

    }

    .quote::before{

        left: -70px;
    }


    .quote::after {

        left: 280px;
    }

    .quote_area
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .logos {
        margin-top: 0px;
    }
}



@media (max-width: 470px) {

    .footer_additional {

        left:12%
    }

    .banner
    {
        padding-left:10px;
        padding-right:10px;
    }

}



@media screen and (max-width: 576px)
{
    .recent_project_btn
    {
        transform: scale(.8);
    }
    .unit__body
    {
        margin-top: -0px!important;
    }
    .blurb__title
    {

    }

    .logo_resize img
    {
        margin-bottom: 0px!important;

    }


    .logo_resize
    {

        margin-left: auto;
        margin-right: auto;

        position: relative;
        text-align: center;
    }


    .homepage_title h2
    {
        font-size:32px!important;
    }
    .footer_extra
    {
        top:930px;
        left:-30px;
    }

    .two_column_text
    {
        padding-left:20px;
        padding-right:20px;
    }
}



@media screen and (max-width: 600px)
{

    .quote, .logos
    {
        transform:scale(.7);

    }



    .quote::before, .quote::after{

        transform:scale(.5);
    }


    .author
    {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center!important;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .banner hr
    {
        padding-left:10px;
        padding-right:10px;


    }
}


@media (max-width: 713px) {

    .footer_additional ul{
        width:300px;
        left:20%
    }

    .footer_additional {

        left:20%
    }
    .left_content {
        padding-top: 60px!important;
    }

    .new_padding2 {
        padding-top: 50px!important;
        padding-bottom: 0px!important;
    }

}


@media(max-width:650px) {

    .footer_extra{
        width:100%;
        left: -30px;
    }

    .ui-to-top {
        bottom: 0px;
    }
}




@media screen and (max-width: 767px)
{

    html .row-30 {
        margin-bottom: 30px;
    }

    #map
    {
        margin-bottom:40px;

    }
    .footer_extra
    {
        margin-left:35px;
        margin-bottom:50px;


    }
    .footer_extra
    {
        top:940px;
        left:110px;
    }
    .ui-to-top {

        bottom: 70px;
    }
    .brand_footer
    {
        height: 120px;

    }
    .brand img {

        margin-left:-120px;
    }

    .pre-footer-corporate
    {
        height:990px;
    }
    .footer_nav_div
    {
        text-align:center;
        margin-top: 20px!important;


        padding-top: 0px;

    }

    .footer_nav
    {

        padding-bottom:20px;
    }
    .footer_main_div {
        text-align: center;
    }

    .brand img
    {
        margin-left: 0px;
    }

    .footer_extra{
        top:640px;
    }
    .bg h2, .header_title{
        font-size: 32px;

    }
    .left_content
    {
        text-align:center;
    }

    .footer_additional
    {

        /* min-width: 600px; */
        position: absolute;
        top: 870px;
        left: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }

    .map_row
    {
        margin-bottom:40px;
    }
    .map_row {

        margin-top: 40px;
    }

    .thumb-creative {
        max-width: 100%!important;

    }
    .footer_additional {

        top: 910px;

    }


    .textimagebutton_padding {
        padding-top: 40px;
        padding-bottom: 100px;
    }
}

        @media screen and (max-width: 991px)

        {
            .brand img {
                margin-top: 0px!important;
                transform:scale(.6);
                margin-left:-90px;
            }

            .footer_nav_div
            {
                margin-top: 40px!important;
                margin-bottom:20px!important;
            }
            .mapa_div
            {
                margin-bottom: 60px!important;
            }
            .footer_extra
            {
                top:600px;
                left:120px;
            }
            .pre-footer-corporate
            {
                height:650px;
            }

            .rd-navbar-brand img {
                display: inline-block!important;
                left:0!important;
            }
            .contact_padding
            {
                margin-bottom:50px;
                margin-top:20px;

            }
            .footer_tel {
                width: 200px;
            }
            .vary_padding {
                width: 30px;
            }
            #custom_main_ul_nav {

                padding-left:20px;

            }


            .bg h2 {

                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);

            }
            .case_studies_pad
            {
                margin-top:0px!important;
            }
            html .row-70 > * {
                margin-bottom: 40px;
            }


            .clients_logos {
                padding-top: 0px!important;
            }


            .custom_page {
                padding-top: 0px!important;
                padding-bottom: 50px;
            }
            .recent_project_btn
            {
                top:60px;
            }

            .section-md {
                padding: 30px 0;
            }

            .rd-navbar-nav
            {
                position: absolute;
                right: 20px;
            }

            .recent_project_btn {
                top: 65%;

            }

            .header_title {



            }

            .footer_additional
            {

                top: 750px;

            }

            .map_row
            {
                margin-bottom:50px;
            }

            .left_content
            {
                padding-top:30px;
            }
        }












@media screen and (max-width: 1200px) {

    .rd-navbar-brand img {
        position: relative;
        display: inline-block;
        height: 70px !important;
        width: auto;
        top: 0;
        left: 0px !important;
    }

    .custom_main_ul_nav {
        margin-left: auto !important;;
        margin-right: auto !important;;
        width: 100% !important;;

    }
    .textimage_padding
    {
        padding-top: 40px;
        padding-bottom: 110px;
    }

    .lefttext_and_3img_padding
    {
        padding-top: 70px;
    }

    .two_column_text_padding
    {
        padding-bottom: 0;
    }
    .case_studies_pad
    {
        margin-top:70px!important;
    }

    .contact_padding {
        margin-bottom: 100px;
        margin-top: 0px;
    }


    html .row-30 > *
    {
        margin-bottom: 0px;
        padding-top: 0px;
    }

    .rd-navbar-brand img {
        position: relative;
        display: inline-block;
        height: 70px !important;
        width: auto;
        top: 0;
        left: 0px !important;
    }

    #custom_main_ul_nav {
        margin-left: auto !important;;
        margin-right: auto !important;;
        width: 100% !important;


    }
    .vary_padding
    {
        margin-top:100px;
    }

}



@media (max-width: 1310px) {

    .footer_additional
    {

        top: 280px;

    }



}



@media (max-width: 1332px)
{

    .header_title {

        font-size:44px;

    }


}














                            @media (min-height: 800px) and (min-width: 1200px) {
                                .section-md {
                                    padding: 60px 0;
                                }
                            }

                            @media (min-height: 800px) and (min-width: 1200px) {
                                .section-md {
                                    padding: 10px 0;
                                }
                            }














@media(min-width:992px) {


.footer_main_div {
padding-bottom: 0px;
}




}


@media(min-width:1200px) {


.footer_main_div {
padding-bottom: 150px;
}

.footer_extra{
top:340px;
left:10!important;
}



}



@media(min-width:1600px)
{

.footer_extra {

left:250px;
}

}



@media  screen and (min-width: 991px) and (max-width: 1200px) {

.capabilities_block_padding
{
padding-left:100px;
padding-right:100px;
}

}



