

    @media (min-width: 576px) {
        .left_content {
            margin-top: -250px;
        }
    }

    @media (min-width: 992px) {
        .left_content {
            margin-top: -310px;
        }

        .map_row {
            margin-top: -200px
        }
    }
