{% extends "_layout" %}


{% block content %}

    <div class="row text-center">
        <div class="col-sm-12 case_header">
            <br>
            <h4 class="heading-decorated" style="margin-top:30px;">CASE STUDIES</h4>
        </div>
    </div>

    <br>

    {% for block in craft.entries.section('ourCapabilities').level('2') %}
{% set amount_case_studies = block.getChildren().total() %}

        {% if amount_case_studies!=0 %}
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <br>
                    <h4 class="" style="font-size:18px;">{{ block.title }}</h4>
                    <br><br><br>
                </div>
            </div>
        </div>


        <section class="bg-default">


            <div class="container-fluid container-flex">
                <div class="row no-gutters">



                    {% for item in block.children %}

                        <div class="col-sm-6 col-lg-4 col-xl-4">
                            <!-- Thumb creative-->
                            <div class="thumb-creative">
                                <div class="thumb-creative__inner">
                                    <div class="thumb-creative__front">
                                        <figure class="thumb-creative__image-wrap"><img class="thumb-creative__image" src="{{ item.caseImage.first().url() }}" alt="" width="480" height="361"/>
                                        </figure>
                                        <div class="thumb-creative__content cont1">
                                            <h6>{{ item.caseTitle }}</h6>
                                            <h4>{{ item.caseFrontInformation }}</h4>

                                        </div>
                                    </div>
                                    <div class="thumb-creative__back">
                                        <figure class="thumb-creative__image-wrap"><img class="thumb-creative__image" src="{{ item.caseImage.first().url() }}" alt="" width="480" height="361"/>
                                        </figure>
                                        <div class="thumb-creative__content cont2">
                                            <h6 class="thumb-creative__title"><a href="{{ item.parent.url }}">{{ item.caseBackTitle }}</a></h6>
                                            {{ item.caseBackInformation }}<a class="button button-link" href="{{ item.url }}">View projects</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    {% endfor %}



                </div>
            </div>
        </section>
        <br><br>




{% endif %}
    {% endfor %}




    {% set index = 0 %}
    {% set outputed_block = '' %}
    {% set current_block = '' %}

    {% for block in entry.mainMatrixBlocks %}
        {% if block.type!="slideshow" %}

            {% set index = index+1 %}
            {% set current_block = block.type~1  %}
            {% if current_block != outputed_block and loop.index!=7%}
                {% set index = 1 %}
                </div>
                </div>
                </section>
            {% endif %}

            {% include 'matrix/_'~block.type %}
            {%  set outputed_block = block.type~1   %}
        {% endif %}
    {% endfor %}
    </div>
    </div>
    </section>



{% endblock %}