<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
	<!-- Site Title-->


    {% if entry.metaTitle | length %}
		<title>{{ entry.metaTitle }}</title>
    {% else %}
		<title>Bridge Civil Engineering</title>
    {% endif %}


    {% if entry.metaDescription | length %}
		<meta name="description" content="{{ entry.metaDescription }}">
    {% else %}
		<meta name="description" content="INNOVATIVE CIVIL ENGINEERING CONTRACTOR FOR PUBLIC AND PRIVATE CLIENTS.">
    {% endif %}




	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<link rel="icon" href="/assets//assets/images/favicon.ico" type="image/x-icon">
	<!-- Stylesheets-->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,300italic%7CMontserrat:400,700">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/style.css?v={{ now.getTimestamp() }}">
	<link rel="stylesheet" href="/assets/css/fonts.css">
	<link rel="stylesheet" href="/assets/css/custom.css?v={{ now.getTimestamp() }}">
	<link rel="stylesheet" href="/assets/css/cookie_policy.css?v={{ now.getTimestamp() }}"/>




		<!--[if lt IE 10]>
	<div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="/assets/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
	<script src="/assets/js/html5shiv.min.js"></script>
<![endif]-->
</head>
<body>
<div id="page-loader">
	<div class="cssload-container">
		<div class="cssload-speeding-wheel"></div>
	</div>
</div>

<!-- Page-->
<div class="page">
{% set homepage = craft.entries.section('homepage').first() %}
    {% set case_studies = craft.entries.section("ourCapabilities").level(3).count() %}
{% include "partials/_header" %}

    {% block content  %}




    {% endblock %}
    {%  include "partials/_footer_banner" %}

{% include "partials/_footer" %}



	<!-- Start of Privacy Policy Pop Up






	<div id="cookie-info">
		<div class="text_cookie_footer">
			<div class="cookie_1">
				<p>By continuing to browse or by clicking “Accept All Cookies,” you agree to the storing of first- and third-party cookies on your device.
				</p>
			</div>
			<div class="cookie_buttons">
				<div class="cookie_2"><button  onclick="show_policy_window();" class="button button-cookie-footer">READ OUR POLICY</button></div>
				<div class="cookie_3"><button id="accept" class="button button-cookie-footer"  onclick="hide_cookie_window();">ACCEPT ALL</button></div>

                {#<p>Your browser cookies are <span style="font-weight:bold;" id="cookie-true"></span></p> #}
			</div>
		</div>
	</div>

	 End of Privacy Policy Pop Up -->


<!-- Javascript-->
<script src="/assets/js/core.min.js"></script>
<script src="/assets/js/script.js"></script>
	<script src="/assets/js/slider.js"></script>





	<script src="https://reactor15.com/cdn/assets/js/cookiePolicy.min.js"></script>




	<script>
        document.addEventListener("DOMContentLoaded", function(){

            var cookiePlugin = new CookiePlugin({
                background:'#2c3540',
                privacyUrl:'/privacy-policy',
                border:'1px solid whitesmoke',
                buttonBackground:'rgb(66, 73, 82)',
                buttonHoverBackground:'black'
            });
        });

	</script>


	<script>
	$(document).scroll(function () {
	var y = $(this).scrollTop();
	var w = $(document).width();
	console.log(w);


	$(window).height();

	if (y>=200) {
	$('#top_logo').addClass('img_shrink');
$('#custom_nav').addClass('nav_shrink');
        $('#custom_nav').removeClass('tinted_bar');
         $('#top_tinted_bar').removeClass('pos_fixed');





if(w<1320)
    $('#custom_main_ul_nav').addClass('nav_ul_shrink2');
else
    $('#custom_main_ul_nav').addClass('nav_ul_shrink');


        if(w<1200)
		{
            $('#top_logo').removeClass('img_shrink');
            $('#top_logo').addClass('img_shrink2');
		}



	}
	else {
	$('#top_logo').removeClass('img_shrink');
	$('#top_logo').removeClass('img_shrink2');

	$('#custom_nav').removeClass('nav_shrink');
	$('#custom_main_ul_nav').removeClass('nav_ul_shrink');
$('#custom_main_ul_nav').removeClass('nav_ul_shrink2');
        $('#top_tinted_bar').addClass('pos_fixed');

        $('#top_tinted_bar').addClass('pos_fixed');

        $('#custom_nav').addClass('tinted_bar');




	}



        if(w<1200) {
            $('#main_navigation').addClass('centering_nav');
            $('#custom_main_ul_nav').addClass('centering_nav_ul');
        }
else {

            $('#main_navigation').removeClass('centering_nav');
            $('#custom_main_ul_nav').removeClass('centering_nav_ul');
        }



{% if entry.id==26 %}

        if(w<1200)
        {
            document.getElementById("structure_id").src = "/assets/images/image_tablet.png?v=2";

        }
    if(w<650)
		{
            document.getElementById("structure_id").src = "/assets/images/image_mobile.png?v=2";

            }
        if(w>1200)
            document.getElementById("structure_id").src = "/assets/images/image_desktop.png?v=2";

		{% endif %}
	});

    $(document).ready(function(){
        $('.slider').bxSlider({
            auto: true,
            autoControls: false,
            stopAutoOnClick: true,
            hideControlOnEnd: true,
            nextText: ">",
            prevText:"<",
            pager: false
        });




    });


    var ua = navigator.userAgent.toLowerCase();
    if (ua.indexOf('safari') != -1) {
        if (ua.indexOf('chrome') > -1) {

        } else {

            $('head').append('<link rel="stylesheet" type="text/css" href="/assets/css/safari.css">');
        }
    }


	</script>

	<script src="https://reactor15.com/cdn/assets/js/cookiePolicy.min.js"></script>




	<script>
        document.addEventListener("DOMContentLoaded", function(){

            var cookiePlugin = new CookiePlugin({
                background:'#0a284a',
                privacyUrl:'/privacy-policy',
                border:'1px solid whitesmoke',
                buttonBackground:'#0a4E9C',
                buttonHoverBackground:'black'
            });
        });

	</script>






</div>
</body>
</html>







