{% extends "_layout" %}


{% block content %}



<!-- MAIN <ATRIX FIELDS -->

    {% set index = 0 %}
    {% set outputed_block = '' %}
    {% set current_block = '' %}

    {% for block in entry.mainMatrixBlocks %}
            {% set index = index+1 %}
            {% set current_block = block.type~1  %}
            {% if current_block != outputed_block and loop.index!=1%}
            {% set index = 1 %}
                </div>
                </div>
                </section>
            {% endif %}

            {% include 'matrix/_'~block.type %}
            {%  set outputed_block = block.type~1   %}
    {% endfor %}
    </div>
    </div>
    </section>

<!-- MAIN <ATRIX FIELDS END -->

{% set display=0 %}

{%  for case_listing in craft.entries.section('ourCapabilities').level('2') %}
    {% for item in case_listing.children %}
        {% if item.showOnHomepage %}

         {% set display=1 %}
            {% set display = 1 %}
            {% endif %}
        {% endfor %}
{% endfor %}

    {% if  case_menu.enabled %}
<!-- CASE STUDIES -->
    {% if display>0%}
    <section class="bg-default new_padding2">
        <div class="row text-center">
            <div class="col-sm-12 case_header">
            <h4 class="heading-decorated">CASE STUDIES</h4>
            </div>
        </div>

        <div class="container-fluid container-flex" style="padding-top:40px;">
            <div class="row no-gutters">
            {% for block in craft.entries.section('ourCapabilities').level('2') %}
                {% set index=0%}
                {% for item in block.children %}
                    {% if item.showOnHomepage %}
                    {% set index = index+1%}
                    <div class="col-sm-6 col-lg-4 col-xl-4">
                        <!-- Thumb creative-->
                        <div class="thumb-creative">
                            <div class="thumb-creative__inner">
                                <div class="thumb-creative__front">
                                    <figure class="thumb-creative__image-wrap"><img class="thumb-creative__image" src="{{ item.caseImage.first().url() }}" alt="" width="480" height="361"/>
                                    </figure>
                                    <div class="thumb-creative__content cont1">
                                    <h6>{{ item.caseTitle }}</h6>
                                    <h4>{{ item.caseFrontInformation }}</h4>
                                    </div>
                                </div>


                                <div class="thumb-creative__back">
                                    <figure class="thumb-creative__image-wrap"><img class="thumb-creative__image" src="{{ item.caseImage.first().url() }}" alt="" width="480" height="361"/>
                                    </figure>
                                    <div class="thumb-creative__content cont2">
                                    <h6 class="thumb-creative__title"><a href="{{ item.parent.url }}">{{ item.caseBackTitle }}</a></h6>
                                    {{ item.caseBackInformation }}<a class="button button-link" href="{{ item.url }}">View projects</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor%}
            {% endfor %}
            </div>
        </div>
    </section>

<!-- CASE STUDIES END-->
{% endif %}

{% endif %}




<!-- OUR CLIENTS -->


    <div class="desktop_logo">

    {% set entry = craft.entries.section('clients').first() %}
    {% set index=0%}
    {% set type='desktop' %}
    {% for block in entry.mainMatrixBlocks%}
        {% set index = index+1%}
        {% include 'matrix/_'~block.type%}

    {% endfor%}
    </div>
    </div>
    </section>
    </div>

<!-- OUR CLIENTS END -->


    <!-- OUR CLIENTS -->


    <div class="mobile_logo">

        {% set entry = craft.entries.section('clients').first() %}
        {% set index=0%}
        {% set type='mobile' %}
        {% for block in entry.mainMatrixBlocks%}
            {% set index = index+1%}
            {% include 'matrix/_'~block.type%}

        {% endfor%}
    </div>
    </div>
    </div>
    </section>
    </div>

    <!-- OUR CLIENTS END -->





{% endblock %}